<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head ('SuscripTrack - Insertar/Actualizar Servicio')"></head>

<body>

<!-- Incluir el fragmento del header -->
<header th:replace="fragments/header :: header"></header>

<main class="container mt-5">
  <h1 th:text="${service.id == null} ? #{msg.service-form.add} : #{msg.service-form.edit}"></h1>

  <!-- Mostrar un mensaje de error si existe -->
  <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

  <form th:action="${service.id == null} ? @{/services/insert} : @{/services/update}"
        th:object="${service}" method="post" class="mt-4">
    <input type="hidden" th:field="*{id}" />
    <div th:if="${#fields.hasErrors('id')}" class="text-danger" th:errors="*{id}"></div>

    <div class="mb-3">
      <label for="code" class="form-label" th:text="#{msg.service-form.code}"></label>
      <input type="text" th:field="*{code}" id="code" class="form-control" required/>
      <div th:if="${#fields.hasErrors('code')}" class="text-danger" th:errors="*{code}"></div>
    </div>

    <div class="mb-3">
      <label for="name" class="form-label" th:text="#{msg.service-form.name}"></label>
      <input type="text" th:field="*{name}" id="name" class="form-control" required/>
      <div th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></div>
    </div>

    <!-- Campo SELECT para la clase Category -->
    <div class="mb-3">
      <label for="category" class="form-label" th:text="#{msg.service-form.category}"></label>
      <select th:field="*{category.id}" id="category" class="form-control" required>
        <option value="" disabled selected th:text="#{msg.service-form.select-category}"></option>
        <option th:each="category : ${listCategories}" th:value="${category.id}"
                th:text="${category.name}" th:selected="${service.category?.id == category.id}"></option>
      </select>
      <div th:if="${#fields.hasErrors('category.id')}" class="text-danger" th:errors="*{category.id}"></div>
    </div>

    <!-- Campo de descripción -->
    <div class="mb-3">
      <label for="description" class="form-label" th:text="#{msg.service-form.description}"></label>
      <textarea th:field="*{description}" id="description" class="form-control" rows="4" required></textarea>
      <div th:if="${#fields.hasErrors('description')}" class="text-danger" th:errors="*{description}"></div>
    </div>

    <button type="submit" class="btn btn-primary"
            th:text="${service.id == null} ? #{msg.service-form.create} : #{msg.service-form.update}"></button>
  </form>

  <!-- Volver a la lista de servicios -->
  <a th:href="@{/services}" class="btn btn-secondary mt-3" th:text="#{msg.service-form.returnback}"></a>
</main>

<!-- Incluir el fragmento del footer -->
<footer th:replace="fragments/footer :: footer"></footer>

</body>
</html>
